.file-manager {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .icon-container {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    height: 24px;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Espacio entre los botones */
  }

  .file-list {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .file-list .MuiTypography-root {
    padding: 5px 0;
    cursor: pointer;
  }

  .file-list .MuiTypography-root:hover {
    background-color: #f5f5f5;
  }
